*{
    padding: 0;
    margin: 0;
}
.content{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}
.light-grey{
    background-color: #f1f1f1!important;
    color: black!important;
}
.container{
    padding: 0.01em 16px !important;
    font-family: Raleway;
}
.xlarge{
    font-size: 24px !important;
}
.padding-24{
    padding-top: 24px!important;
    padding-bottom: 24px!important;
}
.left{
    float: left!important;
}
.right{
    float: right!important;
}
.white{
    color: black!important;
    background-color: white!important;
}
.button{
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.row{
    display: flex;
    width: 100%;
    margin-top: 40px;
}
.half{
    width: 49.9999%;
}
.center{
    text-align: center;
}
.padding-64{
    padding-top: 64px!important;
    padding-bottom: 64px!important;
}
.padding-32{
    padding-top: 32px!important;
    padding-bottom: 32px!important;
}
.image{
    max-width: 100%;
    height: auto;
}
.section{
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}
.input{
    width: 100%;
    padding: 8px 0px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.button{
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 5px;
}
.block{
    display: block;
    width: 100%;
}
.dark-grey{
    color: #fff!important;
    background-color: #616161!important;

}
.large{
    font-size: 18px!important;
}
.text-pink{
    color: #e91e63!important;
}
.button:hover{
    background-color: #ccc!important;
}
