* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#toast{
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 99;
}
.toast{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    border-left: 5px solid #000;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.07);
    padding: 20px 0px;
    min-width: 400px;
    max-width: 450px;
    transition: all linear 0.3s;
}
@keyframes slideInLeft{
    from{
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOut{
    to{
        opacity: 0;
    }
}
.toast + .toast{
    margin-top: 25px;
}
.toast__icon{
    font-size: 24px;
}
.toast__icon, .toast__close{
    padding: 0px 16px;
}
.toast__body{
    flex-grow: 1;
}
.toast__title{
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.toast__msg{
    font-size: 16px;
    color: #888;
    margin-top: 5px;
    line-height: 1.5;
}
.toast__close{
    font-size: 20px;
    color:rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.toast__success{
    border-color: greenyellow;
}
.toast__error{
    border-color: red;
}
.toast__info{
    border-color: yellow;
}
.toast__success .toast__icon{
    color: greenyellow;
}
.toast__error .toast__icon{

}
.toast__info .toast__icon{

}